@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	src:url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

html,body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*overflow-x: hidden;*/
	/*background-color: #efefef;*/
	/*background-color: rgba(0, 12, 26,1);*/
	/*background-color: rgba(10,10,12,1);*/
	/*background: linear-gradient(to top, rgba(10,10,12,1),rgba(59,124,162,0.5));*/
	/*overflow-x: auto;*/
}

#header{
	background: linear-gradient(to bottom, rgba(59,124,162,1),rgba(59,124,162,0.5),rgba(118,86,101,0));
	z-index: 1;
	position: fixed;
	width: 100vw;
	text-align: center;
	height: 7.5vw;	
	font-family: 'Open Sans Light', sans-serif;
	color:black;
	margin: 0;
}
#header h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3vw;
	font-family: 'Open Sans Light', sans-serif;

}
.col{
	vertical-align: middle;
	padding: 0.2vw;
}
.colBg{
	background: url(homeImg1.jpg) no-repeat;
	/*top: 0;*/
	position: relative;
	background-size: contain;
	z-index: 0;
	height: 80vw;
	margin: 0;
	padding: 0;
	/*height: 900px;*/
	text-align: center;

}
.colBg2{
	background: url(greeceMain1.jpg) no-repeat;
	top: 0;
	position: relative;
	background-size: contain;
	z-index: 0;
	height: 80vw;
	text-align: center;
}
#discTxt{
	font-size: 5vw;
	width: 100%;
	top: 11vw;
	position: relative;
	text-transform: uppercase;
	opacity: 0.9;
	font-family: 'Abril Fatface', cursive;
}
#discTxt2{
	width: 100%;
	top: 11vw;
	position: relative;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2vw;
}
#globeImg{
	width: 4vw;
}

#dropButton{
	background: transparent;
	outline: none;
	border:none;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3vw;
	color: black;
	margin-top: 0.8vw;
}
#dropButton:hover{
	background: transparent;
}

#dropButton:active:focus{
	background: transparent;
	box-shadow: none;
}

#dropMenu{
	background-color:rgba(207,204,246,0.7);
	border:none;
	margin-left:10vw;
}
#modalButton{
	background: transparent;
	outline: none;
	border:none;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3vw;
	color: black;
	margin-top: 0.8vw;
}
#modalButton:hover{
	background: transparent;
}

#modalButton:active:focus{
	background: transparent;
	box-shadow: none;
}
.modBod{
	font-size: 1.2vw;
	text-transform: capitalize;
	line-height: 2; 
}
.modHead{
	font-size: 2vw;
	text-transform: capitalize;
	color: rgba(10,10,12,1);
	font-weight: bold;
	/*padding: vw;*/
}
.modDetails{
	/*background-color:rgb(227, 233, 237);*/
	background-color: #F2F7F7;
	/*background-color: #1D70A2;*/
	/*color: white;*/
	color: rgba(10,10,12,1);

}
#div0point5{
	position: relative;
	margin: 0;
	padding: 0;
	top: 40%;
	background-color: rgba(0, 12, 26,1);
	padding-bottom: 20vw;
}
#div0{
	
	height: 10vw;
	top:40%;
	position:relative;
	/*width: inherit;*/
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	background: linear-gradient(to top, rgba(0, 12, 26,1),rgba(0, 12, 26,1),rgba(0, 12, 26,1),rgba(0, 12, 26,0.9),rgba(0, 12, 26,0.8),rgba(0, 12, 26,0.8),rgba(0, 12, 26,0.7),rgba(0, 12, 26,0.5),rgba(0, 12, 26,0));
}
#div0_1{
	height: 10vw;
	top:44%;
	position:relative;
	background: linear-gradient(to top, rgba(0, 12, 26,1),rgba(0, 12, 26,1),rgba(0, 12, 26,1),rgba(0, 23, 51,1),rgba(0, 33, 73,0.9),rgba(0, 46, 102,0.7),rgba(0, 59, 132,0.5),rgba(0, 74, 165,0.3),rgba(0, 74, 165,0));
}
#div1{
	position: relative;
	margin-top: 10vw;
	padding-right: 5vw;
	padding-left: 5vw;
}
#div1_1{
	top: 44%;
	position: relative;
	background-color: rgba(0, 12, 26,1);
	/*padding-bottom: 20vw;*/
}
#div2_1{
	top: 44%;
	position: relative;
	background-color: rgba(0, 12, 26,1);
	/*padding-right: 5vw;*/
	/*padding-left: 5vw;*/
	/*margin: 0;*/
}
#div3_1{
	top: 44%;
	position: relative;
	background-color: rgba(0, 12, 26,1);
	padding-bottom: 20vw;
	/*padding-right: 5vw;*/
	/*padding-left: 5vw;*/
	/*margin: 0;*/
}
.thumbpanel{
	border:none;
	margin: 2vw;
	padding:none;
	background-color: transparent;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
	/*width : 50vw;*/
}
.panBod{
	margin:0;
	padding: 0.1vw;
	overflow: hidden;
}
.imageCss{
	transition: all 2s ease;
}
.imageHover{
	transform:scale(1.2);
}
.panelHover{
	transform:scale(1.1);
	z-index: 1;
}
#aPan{
	position: relative;
	transition: all 1s ease;
}

#gPan{
	position: relative;
	top:-8vw;
	transition: all 1s ease;
}
#lPan{
	position: relative;
	transition: all 1s ease;
}
#button1, #button2, #button3{
	text-transform: capitalize;
	font-size: 1vw;
	margin-top: 1.4vw;
	font-family: 'Raleway', sans-serif;
}
footer {
   position: absolute;
   bottom:0;
   width: 100%;
   padding-top: 1.4vw;
   font-family: 'Raleway', sans-serif;
   text-align: center;
   z-index: 2;
}
.aboutgreece{
	font-family: 'Open Sans',serif;
	color: rgba(255,255,255,0.5);
	font-size: 1.5vw;
	text-transform: none;
	padding-left: 18vw;
	padding-right: 18vw;
	width: 100%;
	margin-top: 2.5vw;
	line-height: 1.7; 
}
.carouselText{
	font-family: 'Open Sans Light',serif;
	color: rgba(255,255,255,0.5);
	font-size: 1.5vw;
	text-transform: none;
}
.headingTxt1{
	margin-top: 12vw;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
	font-family: 'Raleway',serif;
	font-size: 2.2vw;
}

.headingTxt2{
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
	font-family: 'Gilda Display', serif;
	font-size: 1.9vw;
}
.cityImgs{
	cursor: pointer;

	/*background-color: green;*/
	padding: 1vw;
}
.overlay{
	position: absolute; 
  bottom: 1vw; 
  margin: 0;
  /*background: rgb(0, 0, 0);*/
  background-color: red;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: white; 
  /*width: 22.75vw;*/
  height: 4vw;
  text-transform: uppercase;
  /*transition: .5s ease;*/
  /*opacity:0;*/
  width: inherit;
  font-size: 1.2vw;
  padding: 1.4vw;
  text-align: center;
  border-top-right-radius: 20px;
}
